* {
	background: url(geometry.png) top left repeat, url(../img/geometry.png) top left no-repeat;);
}

.container {
	display: flex;
	margin: 0 auto;
	width: 500px;
	height: 700px;

	.logo {
		margin: 4rem auto;
    	width: 40em;
    	overflow: hidden;
    	position: relative;

    	.k:before {
		    content: "";
		    display: block;
		    opacity: 0;
		    position: absolute;
		    width: 2em;
		    border-right: 5em solid transparent;
		    border-top: 5em solid #a7cc61;
		    border-left: 3em solid #a7cc61;
		    border-bottom: 5em solid #a7cc61;
		    -webkit-animation: k-right 0.7s forwards;
		    animation: k-right 0.7s forwards;
		}

		.k:after {
		    content: "";
		    display: block;
		    opacity: 0;
		    position: absolute;
		    width: 5em;
		    height: 10em;
		    background: #83b71e;
		    -webkit-animation: k-left 0.7s forwards;
		    animation: k-left 0.7s forwards;
		    -webkit-animation-delay: 0.4s;
		    -moz-animation-delay: 0.4s;
		    -o-animation-delay: 0.4s;
		}
	}
}