.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
    height: auto;
    padding-left: 50px;
    padding-top: 2%;
    margin-top: 5%;
    border-radius: 10px;
    border: 2px solid lawngreen;
    font-family: 'Khula', sans-serif;
    justify-content: space-around;
}

input {
    width: 250px;
}

input[type="submit"] {
    margin-top: 5%;
    margin-bottom: 15%;
    width: 255px;
    display: block;
    height: 40px;
    border: 2px solid lawngreen;
    outline: none;
    border-radius: 2px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Khula', sans-serif;
    color: lawngreen;
    background: white;
}

.form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 550px;
    height: 480px;
    justify-content: center;
}

.welcome h1 {
    font-family: 'Khula', sans-serif;
    font-size: 50px;
    padding-left: 25%;
}

.welcome img {
    width: 520px;
    height: 300px;
}

.error {
    color: red;
    font-size: 10px;
}