* {
    margin: 0;
    padding: 0;
}
body {
	background:url(http://orig07.deviantart.net/5aca/f/2012/164/6/0/diablo_3_act_2_wallpaper_by_arixev-d53bpoi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 200px;
    height: 230px;
    padding-left: 50px;
    padding-top: 50px;
    background: rgba(168, 167, 148, .6);
    margin-top: 200px;
    border-radius: 10px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    font-family: 'Marcellus SC', serif;
}  

input[type='submit']{
    width: 150px;
    display: block;
    border: 2px solid #3a3a35;
    outline: none;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Marcellus SC', serif;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    background:rgba(255,255,255,.1);
    box-shadow:0 3px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
