* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #B67493;
} 

.container {
	width: 250px;
	margin: 10px auto;
	background: #F7F7F7;
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	padding: 10px;
	cursor: default;
}

span {
	
	cursor: pointer;
}

span h3 {
	padding: 5px;
	font-size: 20px; 
}

.container span  h3 i {

	float: right;
	cursor: pointer;
	font-size: 25px;
}

ul {
	padding: 10px;
	overflow: hidden;
	margin:0;
	font-size: 18px; 

}

ul li {
	
	list-style-type: none;
	padding: 10px;
	cursor: pointer;
}
