header {
  width: 100%; 
  padding: 10px 0 10px; 
  background: #282628; 
}

header .container { 
  max-width: 1200px; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif; 
  align-items: baseline; 
}
header .container nav li {
	display: inline-block;
	margin-left: 10px;
	font-size: 20px;
 }
section .container { 

  max-width: 1200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
  outline: 1px solid black;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 section .container .box {
 	width: 350px;
 	font-family: 'Josefin Sans', sans-serif;
 	font-size: 20px;
 	
 }

  footer{
  	width: 100%;
  	height: 80px;
  	position: absolute;
  	left: 0;
  	bottom: 0;

  }  
footer h1 {
	text-align: center;
	width: 100%; 
  	padding: 10px 0 10px; 
  	background: #D8B8A8;
  	color: #282628;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px; 
}    

a {
	text-decoration: none;
	color: #F3F2F3;
	
}

header .container a#logo {
	font-size: 45px;
}

