* {
	margin: 0;
	padding: 0 0 0;
}

body {
	margin: 0;
    height: 100%;
    width: 100%;
}

.wraper {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
} 


header {
	margin: 0 auto;
    padding: 0 0 10px; 
    background-image: url(import/blue-pattern.jpg);
}

header .container {
	max-width: 960px;
	width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header .container .logo {
    font-size: 50px;
    background: #FFF;
    width: 100px;
    height: 100px;
    color: #03b2e4;
    text-align: center;
    box-shadow: 15px 15px 0px 0px rgba(0, 162, 209, 0.75);
    font-family: 'Kaushan Script', cursive;
}

header .container .drop i {
    font-size: 30px;
    color: #FFF;
}

@media only screen and (max-width: 768px) {
	header .container .logo {
	    font-size: 35px;
	    background: #FFF;
	    width: 70px;
	    height: 70px;
	    box-shadow: 15px 15px 5px 0px rgba(0, 162, 209, 0.75);
	}
}

.home {
	position: relative;
	background-image: url(import/blue-pattern.jpg);
}

.home .first {
    max-width: 960px;
	width: 60%;
	height: 497px; 
    margin: 0 auto;
    display: block;
    padding-top: 3%;
    background-image: url(import/iphone.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 31%; 
}

.home .first .first-text{
	width: 80%;
    padding-top: 1px;
    color: #FFF;
    padding-bottom: 30%;
    background-image: none;
    position: relative;
    float: right;

}
@font-face {
    font-family: 'BlackJack';
    src: url('BLACKJAR.TTF');
}
.home  .first .first-text h1 {
	font-family: 'BlackJack';
	font-size: 72px;
	text-align: right;
}

.home  .first .first-text p {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 190%;
	margin-top: 12px;
	text-align: justify;
}

.home  .first a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	width: 170px;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 18px;
    padding-bottom: 18px;
    border: 2px solid  white;
    border-radius: 2px;
    color: #FFF;
    margin-top: 12px; 
    float: right;
}

.fa-cloud-download:before {
	padding-left: 15px;
}

@media only screen and (max-width: 768px) {
	.home .first {
		width: 100%;
		height: 500px;
		background-size: 30%; 
	}
	.home .first .first-text{
		width: 90%;
	}

	.home  .first .first-text p {
		width: 90%;
		font-size: 190%;
		margin-top: 3%;
		text-align: center;
	}

	.home  .first .first-text h1 {
		font-size: 55px;
		text-align: center;
	}

	.home  .first a {
		width: 160px;
		font-size: 15px;
		float: none;
		margin-left: 20%;
	}
}

@media only screen and (max-width: 480px) {
	.home .first {
		background-size: 40%; 
	}
}


.hello {
	width: 100%;
	background: #f4f4f4;
}

.hello .second {
	width: 100%;
	max-width: 1920px;
	height: 537px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 70px; 
    background-image: url(import/ipad.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 23,5%; 
}

.hello .second .second-text{
    margin-top: 20px;
    color: #707070;
    margin-bottom: 13%;
    padding-left: 18%;
    width: 80%;
}

.hello .second .second-text h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	text-align: justify;
}

.hello  .second .second-text p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin-top: 23px;
	text-align: left;
}
.hello  .second .second-text .upper {
	width: 50%;
}

.hello  .second .second-text .lower {
	width: 50%;
	border-left: 5px solid #00ddff;
	padding-left: 10px;
}	

.hello  .second a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	width: 170px;
	height: 25px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid  #21a590;
    border-radius: 2px;
    color: #21a590;
    margin-top: 65px; 
    margin-left: 5px;
}

.hello .second .fa-envelope:before {
	padding-left: 15px;
}

@media only screen and (max-width: 878px) {

	.hello .second {
		height: auto;
	    background-size: 30%; 
	}

	.hello  .second .second-text .upper {
		width: 90%;
	}

	.hello  .second .second-text .lower {
		width: 55%;
	}
}

@media only screen and (max-width: 480px) {
	.hello .second {
		height: auto;
	    background-size: 35%; 
	}
	.hello  .second a {
		width: 130px;
		height: 15px;
		font-size: 13px;
	}
}

.dribbble {
	background: white;
}

.dribbble .third {
	width: 100%;
	max-width: 1920px;
	height: 619px;
    margin: 0 auto;
    display: block;
    padding-top: 30px; 
    background-image: url(import/devices.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 57%;
}

.dribbble .third .third-text {
	width: 31%;
    margin-top: 65px;
    color: #707070;
    float: right;
    padding-bottom: 5%;
    padding-right: 15%;
}

.dribbble  .third .third-text h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	text-align: justify;
}

.dribbble  .third .third-text p {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	margin-top: 32px;
	text-align: justify;
}

.dribbble  .third .third-text .upper {
	width: 80%;
}

.dribbble  .third .third-text .lower {
	width: 80%;
}

.dribbble  .third a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	width: 220px;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 17px;
    padding-bottom: 15px;
    border: 2px solid  #ef1359;
    border-radius: 2px;
    color: #ef1359;
    margin-top: 40px; 
}



.dribbble  .third .fa-dribbble:before {
	padding-left: 15px;
}

@media only screen and (max-width: 768px) {
	.dribbble .third {
	    background-size: 80%;
	}

	.dribbble .third .third-text {
		width: 90%;
		padding-right: 0;
	}
	.dribbble  .third .third-text .upper {
		width: 80%;
	}

	.dribbble  .third .third-text .lower {
		width: 80%;
	}
}

@media only screen and (max-width: 480px) {
 	.dribbble .third {
	    background-size: 100%;
	}
}


.beer {
	height: 325px;
	background-image: url(import/green-pattern.jpg);
}

.beer .fourth {
	width: 33%;
	max-width: 1200px;
    padding: 10px 0 10px;
    margin: 0 auto; 
    text-align: center;
    justify-content: center;
    color: #FFF;
}

.fa-beer:before {
    padding-left: 15px;
}

.beer .fourth p {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	margin-top: 77px; 
} 

.beer .fourth a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	width: 220px;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid  white;
    border-radius: 2px;
    color: white;
    margin-top: 36px; 
    margin-left: 26%;
}

@media only screen and (max-width: 768px) {
	.beer .fourth  {
		width: 80%;
	}
}

@media only screen and (max-width: 768px) {
	.beer .fourth a {
		width: 200px;
	    margin-left: 15%;
	}
}


.contact {
	width: 100%;
	background: #f4f4f4;
	height: 650px;
}

.contact .fifth {
	padding-top: 16%;
	display: flex;
	margin: 0 auto;
	width: 50%;
	flex-direction: column;
	height: 421px;
}

.contact .fifth .icons .box {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 50%;
}

.contact .fifth .icons .box .circle {
    width: 50px;
    height: 50px;
    border: 3px solid #707070;
    border-radius: 50%;
    background-color: #f4f4f4;
    margin: 0 auto;
}

.contact .fifth .icons .box .circle i {
	font-size: 25px;
	color: #707070;
	position: relative;
	bottom: 15%;
	top: 30%;
	left: 30%;
	bottom: 10%;
	right: 10%;
}


.contact .fifth .enter {
	padding-top: 7%;
    font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #707070;
	display: flex;
	margin: 0 auto;
	width: 100%;
	flex-direction: row;
	align-items: baseline;
	margin-left: 22%;
} 

.contact .fifth .enter b {
	padding-right: 3%;
}

.contact .fifth .enter .field {
	width: 220px;
	height: 40px;
    border-radius: 10px;
	border-style: none;
	background-color: white;
	margin-left: 2%;
}

input[type="email"] {
	width: 150px;
	border-radius: 10px;
	outline: none;
    border: none;
    padding-left: 20px;
    padding-top: 15px;
}

.dash {
    color: #cccccc;
}

.mail {
	color: #00ddff;
	padding-left: 5px;
}

@media only screen and (max-width: 768px) {
	.contact .fifth {
		width: 80%;
		flex-direction: column;
	}

	.contact .fifth .icons .box {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {

 	.contact .fifth .icons .box .circle {
	    width: 40px;
	    height: 40px;
	    border: 3px solid #707070;
	}

	.contact .fifth .icons .box .circle i {
		font-size: 15px;
	}
}

@media only screen and (max-width: 370px) {

	.contact .fifth .enter {
		width: 80%;
		flex-direction: column;
		margin-left: 0;
	} 
}

@media only screen and (max-width: 824px) {
	.contact .fifth .enter {
		width: 80%;
		flex-direction: column;
	}
}	 

footer {
	height: 100px;
	background-color: white;
}

footer p {
	text-align: center;
    padding: 45px 0px 0px 0px; 
    color: #707070;
  	font-family: 'Montserrat', sans-serif;
  	font-size: 12px; 
}

footer p span {
	color: #00ddff;
}

#toTop {
    width: 42px;
    height: 40px;
    position: fixed;
    bottom: 29px;
    right: 13%;
    display: none;
    background-color: #F4F4F4;
    border-radius: 10%;
    opacity: 0.8;
    text-align: center;
}

#toTop i {
    color: #707070;
    font-size: 30px;
    position: relative;
    top: 2px;
}



